@import '../../App.scss';

.error {
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $main-color;
    font-size: $sz14;
} 

@media screen and (min-width: 1624px) {

    .error {
        font-size: $sz18;
    }
} 